/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/


body {
	background: #c8c8c8;
	margin: 0px;
}

#wrapper {
  width: 100%;
}

#nav {
  padding: 10px 20px;
  background: #e70000;
  height: 25px;
}

#logo {
  background-image: url("/assets/logo.png");
  width: 90px;
  height: 25px;
  float: left;
  margin: 0px;
}

#user {
  float: right;
}

#menu {
  margin-left: 120px; 
}
#menu ul{
  margin:0;
  padding:0;
}

#menu li {
  display:inline;
  overflow:hidden;
}

#main {
    margin: 10px;
}


